<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <% if Time.now.strftime("%A") == "Wednesday" && Time.now.strftime("%H:%M") > "17:30" ||  Time.now.strftime("%A") == "Thursday" && Time.now.strftime("%H:%M") < "01:00" %>
            <p>Votre restaurant est actuellement: <span style="color: red; font-size: 18px;">Fermer</span></p>
          <% else %>
            <% if Time.now.strftime("%H:%M") > "01:00" && Time.now.strftime("%H:%M") < "17:30" %>
              <p>Votre restaurant est actuellement: <span style="color: red; font-size: 18px;">Fermer</span></p>
            <% else %>
               <p>Votre restaurant est actuellement: <span style="color: green; font-size: 18px;">Ouvert</span></p>
            <% end %>
          <% end %>
        </div>
        <div class="panel-body">
          <p>Livraison uniquement sur Paris: 1er, 2ème, 3ème, 7ème 8ème, 9ème, 15ème, 16ème, 17ème et 18ème</p>
        </div>
      </div>
    </div>
  </div>
</div>